body {
  height: 100%;
}

#camera_section {
  display: inline-block;
  width: 400px;
  margin-left: 30%;
}

.publish {
  display: block;
  height: 25%;
  margin: 20px;
  margin-bottom: 3%;
  text-align: center;
  /*border: solid 1px white;*/
  color: #fff;
  background: rgba(0,0,0,0.75);
}

button {
  opacity: 0.75;
}

.buddy {
    position: relative;
    top: 255px;
    left: 96px;
}

.vid_length {
  padding: 20px;
}

#MyFirstCamera-accept-screen {

}