body {
  height: 100%;
}

#camera_section {
  display: inline-block;
  width: 400px;
  margin-left: 30%;
}

/*.cameratag_screen {
  height: 300px;
}*/

.buddy {
    position: relative;
    top: 255px;
    left: 105px;
}

.vid_length {
  padding: 20px;
}